In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import ttest_rel, chi2_contingency

In [23]:
data = pd.read_csv(r"C:\Users\musta\Downloads\datasets\Sales_add.csv")

## Explaratory Data Analysis

In [13]:
data.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [18]:
data.shape

(22, 5)

In [19]:
data.dtypes

Month                             object
Region                            object
Manager                           object
Sales_before_digital_add(in $)     int64
Sales_After_digital_add(in $)      int64
dtype: object

In [20]:
data.isnull().sum()

Month                             0
Region                            0
Manager                           0
Sales_before_digital_add(in $)    0
Sales_After_digital_add(in $)     0
dtype: int64

In [21]:
data.isnull().sum()

Month                             0
Region                            0
Manager                           0
Sales_before_digital_add(in $)    0
Sales_After_digital_add(in $)     0
dtype: int64

In [22]:
data.describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

In [24]:
sales_before = data['Sales_before_digital_add(in $)']
sales_after = data['Sales_After_digital_add(in $)']

In [26]:
mean_sales_before = np.mean(sales_before)
mean_sales_after = np.mean(sales_after)

In [27]:
t_statistic, p_value = ttest_rel(sales_before, sales_after)

In [28]:
print("Mean sales before digital marketing:", mean_sales_before)
print("Mean sales after digital marketing:", mean_sales_after)

Mean sales before digital marketing: 149239.95454545456
Mean sales after digital marketing: 231123.72727272726

In [30]:
if p_value < 0.05:
    print("There is a significant increase in sales after stepping into digital marketing.")
else:
    print("There is no significant increase in sales after stepping into digital marketing.")

There is a significant increase in sales after stepping into digital marketing.

In [31]:
contingency_table = pd.crosstab(data['Region'], data['Manager'])

chi2_statistic, p_value, _, _ = chi2_contingency(contingency_table)

In [32]:
print("Chi-square statistic:", chi2_statistic)
print("p-value:", p_value)

Chi-square statistic: 3.050566893424036
p-value: 0.5493991051158094

In [33]:
if p_value < 0.05:
    print("There is a significant dependency between Region and Manager.")
else:
    print("There is no significant dependency between Region and Manager.")

There is no significant dependency between Region and Manager.