## Question 1 :  Male and Female count

In [17]:
import pandas as pd

df = pd.read_csv(r"C:\Users\musta\Downloads\StudentsPerformance.csv")
gender_counts = df["gender"].value_counts()
print(gender_counts)

female    518
male      482
Name: gender, dtype: int64

## Question 2 : Parents Education level

In [18]:
parental_counts = df["parental level of education"].value_counts()
print(parental_counts)

some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: parental level of education, dtype: int64

## Question 3 : Average for math , reading and writing

In [19]:
gender_math_avg = df.groupby("gender")["math score"].mean()
print(gender_math_avg)

test_prep_math_avg = df.groupby("test preparation course")["math score"].mean()
print(test_prep_math_avg)

gender
female    63.376448
male      68.821577
Name: math score, dtype: float64
test preparation course
completed    69.96648
none         63.78972
Name: math score, dtype: float64

In [20]:
gender_read_avg = df.groupby("gender")["reading score"].mean()
print(gender_read_avg)

test_prep_read_avg = df.groupby("test preparation course")["reading score"].mean()
print(test_prep_read_avg)

gender
female    72.590734
male      65.545643
Name: reading score, dtype: float64
test preparation course
completed    74.175978
none         66.417445
Name: reading score, dtype: float64

In [21]:
gender_writing_avg = df.groupby("gender")["writing score"].mean()
print(gender_writing_avg)

test_prep_write_avg = df.groupby("test preparation course")["writing score"].mean()
print(test_prep_write_avg)

gender
female    72.467181
male      63.446058
Name: writing score, dtype: float64
test preparation course
completed    74.684358
none         64.457944
Name: writing score, dtype: float64

## Question 4 : Scoring variation for math , reading and writing

In [22]:
gender_math_std = df.groupby("gender")["math score"].std()
print(gender_math_std)

test_prep_math_std = df.groupby("test preparation course")["math score"].std()
print(test_prep_math_std)

gender
female    16.029928
male      14.556411
Name: math score, dtype: float64
test preparation course
completed    14.521847
none         15.705689
Name: math score, dtype: float64

In [23]:
gender_read_std = df.groupby("gender")["reading score"].std()
print(gender_read_std)

test_prep_read_std = df.groupby("test preparation course")["reading score"].std()
print(test_prep_read_std)

gender
female    14.411018
male      14.149594
Name: reading score, dtype: float64
test preparation course
completed    13.537572
none         14.608896
Name: reading score, dtype: float64

In [24]:
gender_write_std = df.groupby("gender")["writing score"].std()
print(gender_write_std)

test_prep_write_std = df.groupby("test preparation course")["writing score"].std()
print(test_prep_write_std)

gender
female    14.844842
male      14.227225
Name: writing score, dtype: float64
test preparation course
completed    13.236412
none         15.041667
Name: writing score, dtype: float64

## Question 5 : Top 25%

In [26]:
math_75th_percentile = df["math score"].quantile(0.75)
top_students = df[df["math score"] >= math_75th_percentile]
num_top_students = len(top_students)

if num_top_students == 0:
    print("No students scored in the top 25% for math.")
else:
    bonus_points = 10
    top_students["math score"] += bonus_points
    print(f"{num_top_students} students scored in the top 25% for math and received {bonus_points} bonus points.")

255 students scored in the top 25% for math and received 10 bonus points.

C:\Users\musta\AppData\Local\Temp\ipykernel_11936\2635548209.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  top_students["math score"] += bonus_points