## Step 1: Load the dataset into the Python environment

In [1]:
import pandas as pd
data = pd.read_csv(r"C:\Users\musta\Downloads\datasets\titanic_dataset.csv")

## Step 2: Pre-processing steps

In [2]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [4]:
data.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [5]:
data["Age"].fillna(data["Age"].median(), inplace=True)
data["Embarked"].fillna(data["Embarked"].mode()[0], inplace=True)

In [6]:
# Converting categorical variables to numerical representations
data["Sex"] = data["Sex"].map({"female": 0, "male": 1})
data["Embarked"] = data["Embarked"].map({"S": 0, "C": 1, "Q": 2})

In [7]:
# Splitting the data into features (X) and labels (y)
X = data.drop(["Survived", "Name", "Ticket", "Cabin"], axis=1)
y = data["Survived"]

In [8]:
X

     PassengerId  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0              1       3    1  22.0      1      0   7.2500         0
1              2       1    0  38.0      1      0  71.2833         1
2              3       3    0  26.0      0      0   7.9250         0
3              4       1    0  35.0      1      0  53.1000         0
4              5       3    1  35.0      0      0   8.0500         0
..           ...     ...  ...   ...    ...    ...      ...       ...
886          887       2    1  27.0      0      0  13.0000         0
887          888       1    0  19.0      0      0  30.0000         0
888          889       3    0  28.0      1      2  23.4500         0
889          890       1    1  26.0      0      0  30.0000         1
890          891       3    1  32.0      0      0   7.7500         2

[891 rows x 8 columns]

## Step 3: Create kNN and SVM models

In [9]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC

# Creating kNN model
knn_model = KNeighborsClassifier()

# Creating SVM model
svm_model = SVC()

## Step 4: Perform k-fold and stratified k-fold cross-validation

In [10]:
from sklearn.model_selection import cross_val_score, StratifiedKFold

# Perform k-fold cross-validation
k_fold_scores = cross_val_score(knn_model, X, y, cv=5)  # Assuming k=5

# Perform stratified k-fold cross-validation
stratified_k_fold = StratifiedKFold(n_splits=5)
stratified_k_fold_scores = cross_val_score(svm_model, X, y, cv=stratified_k_fold)

# Calculate average accuracy scores
average_k_fold_score = k_fold_scores.mean()
average_stratified_k_fold_score = stratified_k_fold_scores.mean()

C:\Users\musta\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)
C:\Users\musta\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)
C:\Users\musta\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)
C:\Users\musta\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)
C:\Users\musta\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

In [11]:
print("Average k-fold score:", average_k_fold_score)
print("Average stratified k-fold score:", average_stratified_k_fold_score)

Average k-fold score: 0.5397526834473667
Average stratified k-fold score: 0.6375117695059946